
<!-- <grid-component [http-url]="'assets/emp.json'"></grid-component> -->
<!-- <text-demo></text-demo> -->
<!-- 
<grid-component [data]="gridata"></grid-component> <br/>

<button (click)="addData()">Add Data</button> -->

<amexio-typeahead [allow-blank]="false" 
                  [field-label]="'First Name'"
                  [value-field]="'id'"
                  [display-field]="'firstName'"
                  [data]="gridata"
                  [(ngModel)]="title">

</amexio-typeahead>

{{title}}
<!--
<cd-demo [title]="title"></cd-demo>
<button (click)="currentDate()">Show Current Date Time</button>
{{currentdatetime}}
<button (click)="changeTitle()">Change Title</button>
-->

<!-- <drop-down [data] = "dropdowndata"></drop-down> -->